body {
    background-color: aqua;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 1.5px;
    color:black;
    max-width: 100%;
    overflow-x: hidden;
}
}

header h1 {
    margin: 30px 0;
   
}




p {
    
    font-weight: 600;
    color:black
}

label {
    color: black;
    font-weight: 500;
}

.container    {
    max-width: 1600px;
    margin: 0 auto;
      
}

.grid {
    display: grid;
    grid-gap: 64px;

}

.grid-2-columns {
  grid-template-columns: 1fr 1fr;
}


section {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
}


@media (max-width: 960px) {
  header {
    padding: 30px 0;
  }

  header h1 {
    font-size: 40px;
    text-align: center;
  }
    header h2 {
    font-size: 20px;
  }

  header h3 {
    font-size: 12px;
  }


  .grid {
    grid-template-columns: 1fr;
    grid-gap: 32px;
  }
  
    section {
    padding: 30px;
  }
}